
<footer class="bg-dark text-light p-4 mt-5">
    <div class="container text-center">
        <div class="mb-3">
            <a href="https://facebook.com" class="text-light me-3"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com" class="text-light me-3"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" class="text-light"><i class="fab fa-instagram"></i></a>
        </div>
        <div>© Wanderlust Private Limited</div>
        <div class="f-info-links mt-2">
            <a href="/privacy" class="text-light me-3">Privacy Policy</a>
            <a href="/terms" class="text-light">Terms of Service</a>
        </div>
    </div>
</footer>

